{% extends 'main_app/base_index.html' %}
{% block scripts %}
<script >
//IMAGE AND IPFS
  var ipfsHash;
  function setIpsfHash(hash){
    ipfsHash = hash;
  }
  function getIpfsHash(){
    return ipfsHash;
  }
  const ipfs = window.IpfsHttpClient('ipfs.infura.io', '5001', { protocol: 'https' });
  $("document").ready(function(){

    $("#upload").change(function() {
       $("#link").text("LOADING YOUR IPFS HASH...DON'T SUBMIT THE FORM")
       var reader = new FileReader();
            reader.onload = function (e) {

                const magic_array_buffer_converted_to_buffer = buffer.Buffer(reader.result); 
                ipfs.add(magic_array_buffer_converted_to_buffer, (err, result) => {

              let ipfsLink = "<a href='https://ipfs.io/ipfs/" + result[0].hash + "'>ipfs.io/ipfs/" + result[0].hash + "</a>";
        
              $("#hash").text("IPFS HASH:"+result[0].hash)

              $("#link").text("IPFS HASH RECEIVED. You can submit the form now")
              
              ipfsHash = result[0].hash
              setIpsfHash(ipfsHash);
              

                })
            }
            reader.readAsArrayBuffer(this.files[0]);

    });
});
      
// CONTRACT INSTANCES
const abi = [
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": true,
        "internalType": "address",
        "name": "previousOwner",
        "type": "address"
      },
      {
        "indexed": true,
        "internalType": "address",
        "name": "newOwner",
        "type": "address"
      }
    ],
    "name": "OwnershipTransferred",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "internalType": "string",
        "name": "name",
        "type": "string"
      },
      {
        "indexed": false,
        "internalType": "address",
        "name": "pid",
        "type": "address"
      },
      {
        "indexed": false,
        "internalType": "uint256",
        "name": "insuredAmount",
        "type": "uint256"
      }
    ],
    "name": "newPatientCreated",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": true,
        "internalType": "address",
        "name": "donor",
        "type": "address"
      },
      {
        "indexed": false,
        "internalType": "address",
        "name": "pid",
        "type": "address"
      },
      {
        "indexed": false,
        "internalType": "uint256",
        "name": "amountReceived",
        "type": "uint256"
      }
    ],
    "name": "receivedDonation",
    "type": "event"
  },
  {
    "anonymous": false,
    "inputs": [
      {
        "indexed": false,
        "internalType": "address",
        "name": "pid",
        "type": "address"
      },
      {
        "indexed": false,
        "internalType": "uint256",
        "name": "amount",
        "type": "uint256"
      }
    ],
    "name": "usedInsurance",
    "type": "event"
  },
  {
    "inputs": [
      {
        "internalType": "uint256",
        "name": "",
        "type": "uint256"
      }
    ],
    "name": "docAddressList",
    "outputs": [
      {
        "internalType": "address",
        "name": "",
        "type": "address"
      }
    ],
    "stateMutability": "view",
    "type": "function"
  },
  {
    "inputs": [],
    "name": "doctorCount",
    "outputs": [
      {
        "internalType": "uint256",
        "name": "",
        "type": "uint256"
      }
    ],
    "stateMutability": "view",
    "type": "function"
  },
  {
    "inputs": [
      {
        "internalType": "address",
        "name": "",
        "type": "address"
      }
    ],
    "name": "doctorDetailList",
    "outputs": [
      {
        "internalType": "address",
        "name": "docAdress",
        "type": "address"
      },
      {
        "internalType": "string",
        "name": "docName",
        "type": "string"
      },
      {
        "internalType": "string",
        "name": "docSpecialization",
        "type": "string"
      }
    ],
    "stateMutability": "view",
    "type": "function"
  },
  {
    "inputs": [
      {
        "internalType": "address",
        "name": "",
        "type": "address"
      }
    ],
    "name": "doctorList",
    "outputs": [
      {
        "internalType": "bool",
        "name": "",
        "type": "bool"
      }
    ],
    "stateMutability": "view",
    "type": "function"
  },
  {
    "inputs": [
      {
        "internalType": "address",
        "name": "_pid",
        "type": "address"
      }
    ],
    "name": "doctorSign",
    "outputs": [],
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "inputs": [
      {
        "internalType": "address",
        "name": "_pid",
        "type": "address"
      }
    ],
    "name": "donateAmount",
    "outputs": [],
    "stateMutability": "payable",
    "type": "function"
  },
  {
    "inputs": [
      {
        "internalType": "uint256",
        "name": "",
        "type": "uint256"
      }
    ],
    "name": "donationHistoryList",
    "outputs": [
      {
        "internalType": "address",
        "name": "pid",
        "type": "address"
      },
      {
        "internalType": "address",
        "name": "donorAddress",
        "type": "address"
      },
      {
        "internalType": "uint256",
        "name": "time",
        "type": "uint256"
      },
      {
        "internalType": "uint256",
        "name": "amount",
        "type": "uint256"
      },
      {
        "internalType": "string",
        "name": "patientName",
        "type": "string"
      }
    ],
    "stateMutability": "view",
    "type": "function"
  },
  {
    "inputs": [],
    "name": "donationTransferCount",
    "outputs": [
      {
        "internalType": "uint256",
        "name": "",
        "type": "uint256"
      }
    ],
    "stateMutability": "view",
    "type": "function"
  },
  {
    "inputs": [
      {
        "internalType": "uint256",
        "name": "",
        "type": "uint256"
      }
    ],
    "name": "donationTransferList",
    "outputs": [
      {
        "internalType": "address",
        "name": "pid",
        "type": "address"
      },
      {
        "internalType": "uint256",
        "name": "time",
        "type": "uint256"
      },
      {
        "internalType": "uint256",
        "name": "amount",
        "type": "uint256"
      },
      {
        "internalType": "string",
        "name": "patientName",
        "type": "string"
      }
    ],
    "stateMutability": "view",
    "type": "function"
  },
  {
    "inputs": [],
    "name": "donorCount",
    "outputs": [
      {
        "internalType": "uint256",
        "name": "",
        "type": "uint256"
      }
    ],
    "stateMutability": "view",
    "type": "function"
  },
  {
    "inputs": [
      {
        "internalType": "address",
        "name": "",
        "type": "address"
      }
    ],
    "name": "donorList",
    "outputs": [
      {
        "internalType": "uint256",
        "name": "",
        "type": "uint256"
      }
    ],
    "stateMutability": "view",
    "type": "function"
  },
  {
    "inputs": [],
    "name": "getBalance",
    "outputs": [
      {
        "internalType": "uint256",
        "name": "",
        "type": "uint256"
      }
    ],
    "stateMutability": "view",
    "type": "function"
  },
  {
    "inputs": [],
    "name": "owner",
    "outputs": [
      {
        "internalType": "address",
        "name": "",
        "type": "address"
      }
    ],
    "stateMutability": "view",
    "type": "function"
  },
  {
    "inputs": [
      {
        "internalType": "address",
        "name": "",
        "type": "address"
      }
    ],
    "name": "patientList",
    "outputs": [
      {
        "internalType": "uint256",
        "name": "time",
        "type": "uint256"
      },
      {
        "internalType": "uint256",
        "name": "insuranceAmount",
        "type": "uint256"
      },
      {
        "internalType": "uint256",
        "name": "donatedAmount",
        "type": "uint256"
      },
      {
        "internalType": "string",
        "name": "name",
        "type": "string"
      },
      {
        "internalType": "string",
        "name": "disease",
        "type": "string"
      },
      {
        "internalType": "string",
        "name": "doctorName",
        "type": "string"
      },
      {
        "internalType": "string",
        "name": "ipfsHash",
        "type": "string"
      },
      {
        "internalType": "address",
        "name": "doctorAddress",
        "type": "address"
      },
      {
        "internalType": "address",
        "name": "patientID",
        "type": "address"
      },
      {
        "internalType": "bool",
        "name": "pidAvailable",
        "type": "bool"
      },
      {
        "internalType": "bool",
        "name": "doctorSignature",
        "type": "bool"
      }
    ],
    "stateMutability": "view",
    "type": "function"
  },
  {
    "inputs": [],
    "name": "pidCount",
    "outputs": [
      {
        "internalType": "uint256",
        "name": "",
        "type": "uint256"
      }
    ],
    "stateMutability": "view",
    "type": "function"
  },
  {
    "inputs": [
      {
        "internalType": "uint256",
        "name": "",
        "type": "uint256"
      }
    ],
    "name": "pidList",
    "outputs": [
      {
        "internalType": "address",
        "name": "",
        "type": "address"
      }
    ],
    "stateMutability": "view",
    "type": "function"
  },
  {
    "inputs": [],
    "name": "renounceOwnership",
    "outputs": [],
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "inputs": [
      {
        "internalType": "address",
        "name": "_docAddress",
        "type": "address"
      },
      {
        "internalType": "string",
        "name": "_name",
        "type": "string"
      },
      {
        "internalType": "string",
        "name": "_spec",
        "type": "string"
      }
    ],
    "name": "setDoctor",
    "outputs": [],
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "inputs": [
      {
        "internalType": "string",
        "name": "_name",
        "type": "string"
      },
      {
        "internalType": "string",
        "name": "_disease",
        "type": "string"
      },
      {
        "internalType": "string",
        "name": "_ipfsHash",
        "type": "string"
      }
    ],
    "name": "setPatientData",
    "outputs": [],
    "stateMutability": "payable",
    "type": "function"
  },
  {
    "inputs": [
      {
        "internalType": "address",
        "name": "_pid",
        "type": "address"
      },
      {
        "internalType": "uint256",
        "name": "_amountRequired",
        "type": "uint256"
      }
    ],
    "name": "transferDonations",
    "outputs": [],
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "inputs": [
      {
        "internalType": "address",
        "name": "newOwner",
        "type": "address"
      }
    ],
    "name": "transferOwnership",
    "outputs": [],
    "stateMutability": "nonpayable",
    "type": "function"
  },
  {
    "inputs": [],
    "name": "withdrawCount",
    "outputs": [
      {
        "internalType": "uint256",
        "name": "",
        "type": "uint256"
      }
    ],
    "stateMutability": "view",
    "type": "function"
  },
  {
    "inputs": [
      {
        "internalType": "uint256",
        "name": "",
        "type": "uint256"
      }
    ],
    "name": "withdrawHistoryList",
    "outputs": [
      {
        "internalType": "address",
        "name": "pid",
        "type": "address"
      },
      {
        "internalType": "string",
        "name": "doctorName",
        "type": "string"
      },
      {
        "internalType": "uint256",
        "name": "time",
        "type": "uint256"
      },
      {
        "internalType": "uint256",
        "name": "amount",
        "type": "uint256"
      },
      {
        "internalType": "string",
        "name": "patientName",
        "type": "string"
      }
    ],
    "stateMutability": "view",
    "type": "function"
  },
  {
    "inputs": [
      {
        "internalType": "address",
        "name": "_pid",
        "type": "address"
      },
      {
        "internalType": "uint256",
        "name": "_amountRequired",
        "type": "uint256"
      }
    ],
    "name": "withdrawInsurance",
    "outputs": [],
    "stateMutability": "nonpayable",
    "type": "function"
  }
]

const address = "0x9354d04e66386693CEAEC931bBDB7b1b369fF1A7"
  contract = web3.eth.contract(abi).at(address)
  contract.pidCount.call((err,res)=>{
    if(err){
      return console.log(err)
    }
    else{
      return console.log(res.toString())
    }
  })
function waitForReceipt(hash, cb) {
    web3.eth.getTransactionReceipt(hash, function (err, receipt) {
      if (err) {
        error(err);
      }
      if (receipt !== null) {
        // Transaction went through
        if (cb) {
          cb(receipt);
        }
      } else {
        // Try again in 1 second
        window.setTimeout(function () {
          waitForReceipt(hash, cb);
        }, 1000);
      }
    });
  }
  $(document).ready(function(){
    $('#myForm').on('submit',function(e){
        e.preventDefault();
        var name = $('#name').val()
        var disease = $('#disease').val()
        var amount = $('#amount').val()
        var hash = getIpfsHash()

        
  web3.eth.getAccounts(function get(err, res){
          account = res[0]

        transaction = 
        ({
          from: account,
          value: web3.toWei(amount, 'ether'),
          "gas": 900000,
          "chainId": 3,
          'gasPrice': web3.toWei(60,'Gwei'),
        })

        contract.setPatientData.sendTransaction(
          name,
          disease,
          hash,
          transaction,
          (error,result)=>{
            if(error){
              console.log(error)
            }
            else{
              waitForReceipt(result, function(){
                console.log(result)
              })
            }
          }
        )
      })
    });
});


</script>

{% endblock scripts %}
{% block content %}


  <section class="mb-5" style="margin-top: 50px">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-5">
          <h1 class="display-4">New Patient Entry Form</h1>
         
        </div>
      </div>
    </div>
  </section>
  <section class="probootstrap-services">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-3 pb-5 probootstrap-aside-stretch-left probootstrap-inside">
          <div class="mb-3 pt-5">
            <h2 class="h1">Important Note</h2>
            <ul class="list-unstyled probootstrap-light mb-4">
              <h2 class="h5">Only the Owner of the Contract has the access to use this functionality.<br><br>If you aren't the owner, DO NOT PROCEED</h2>

              <li><a href="{% url 'base' %}">Go Back</a></li>
  
            </ul>
          </div>
        </div>
        <div class="col-md-9 pl-md-5 pb-5 pl-0 probootstrap-inside">
          <h1 class="mt-4 mb-4" style="font-weight: bold;">Add a New Patient</h1>
          <div class="row">
            <div class="col-md-12">
              <form id="myForm" action="POST" class="probootstrap-form">
                {% csrf_token %}
                <div class="form-group">
                  <label for="name" class="sr-only">Patient's Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Enter Patient's name">
                </div>
                <div class="form-group">
                  <label for="email" class="sr-only">Patient's Disease</label>
                  <input type="text" class="form-control" id="disease" placeholder="Enter the Disease of the Patient">
                </div>
                <div class="form-group">
                  <label for="message" class="sr-only">Insured Amount</label>
                  <input name="message" id="amount" class="form-control" placeholder="Enter the Insurance Amount"></input>
                </div>
              <div class="row d-flex justify-content-around">
                <div  >
                  <h3 style="font-weight: bold;">Upload Medical Certificate</h3>
                </div>
                <div>
                  <input type="file" id="upload"><br> 
                </div>
              </div>
                 
                <h4 id="hash" style="font-style: italic; font-weight: bold; margin-top: 20px"></h4>

                 <h4 id="link" style="font-style: italic; font-weight: bold; text-align: center; margin-top: 20px"></h4>

                <div class="form-group">
                  <input type="submit" class="btn btn-primary" value="Add Patient" style="margin-top: 60px">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <section class="probootstrap-subscribe">
    <div class="container-fluid">
      <div class="row mb-5">
        <div class="col-md-12">
          <h2 class="h1 text-white">Subscribe Newsletter</h2>
          <p class="lead text-white">Far far away, behind the word mountains, far from the countries Vokalia.</p>
        </div>
      </div>
      <form action="#" method="post">
        <div class="row">
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Name">    
          </div>
          <div class="col-md-4 mb-md-0 mb-3">
            <input type="text" class="form-control" placeholder="Email">
          </div>
          <div class="col-md-4">
            <input type="submit" value="Subscribe" class="btn btn-primary btn-block">
          </div>
        
        </div>
      </form>
    </div>
  </section>
{% endblock %}

